body{
	> footer{
		clear: both;
		background-color: #1E1C1D;
		margin-top: 40px;
		padding-top: 10px;
		.content{
			> .footer_content{
				@include make-xs-column(12);
				@include make-sm-column(8);
				@include make-md-column(6);
				@include make-sm-column-offset(2);
				@include make-md-column-offset(3);
				h4{
					text-align: center;
					color: #fff;
				}
				img{
					display: block;
					margin-left:auto;
					margin-right:auto;
					padding-bottom: 5px;
				}
			}
		}
	}
}	