@media screen and (max-width:768px){
	body{
		> header{
			display:none;
		}
		.navbar{
			padding-left: 15px;
		}
		> #tratamentos{
			#tratamentos_item_2{
    		padding-left: 0 !important;
    		}
			p{
				text-align: center;
			}
			.trat_item{
			padding-bottom:15px;
			}
		}
		.container{
			>header.content{
				h2.heading{
					text-align:center;
					font:32px bold 'Arial';
					padding-top: 15px;
					span{
						display:none;
					}
				}
			}
		}
		> #slider{
			.item img{
				width: 100%;
				margin:0;
			}
		}
		.fb-page{ 
			margin-left: 15%;
		}
		.tratamentos-video{
			margin-bottom: 0;
			iframe{
				height: 200px !important;
			}
		}
	}
}

@media screen and (max-width:475px){
	body{
		> #navegacao{
			.navbar{
			padding-left: 15px;
		}
			#responsive-logo{
				display:none;
			}
		}
		.fb-page{ 
			margin-left: 8%;
		}
    }
}


@media screen and (min-width:768px){
	header{
		.container{
			> .content{
				padding-left:60px;
			}
		}
	}
	#responsive-logo{
				display:none;
			}
}

body{
	> #navegacao{
		#responsive-logo{
			width: 40%;
			padding-left: 15px;
		}
	}
}

@media screen and (max-width:992px){
	body{
		> #contatos{
			> #contatos__itens{
				h3{
					text-align: center;
				}
			}
    	}
    	#tratamentos_item_1,
    	#tratamentos_item_2{
    		padding-bottom: 15px;
    	}
    	footer{
    		margin-top: 200px;
    	}
    	.tratamentos-video{
    		iframe{
    		height: 280px !important;
    		}
    	}
	}

}
